<h1>Listing as and bs</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @as.each do |a| %>
      <tr>
        <td><%= a.id %></td>
        <td><%= a.name %></td>
        <td><%= link_to 'Show', a %></td>
        <td><%= link_to 'Edit', edit_a_path(a) %></td>
        <td><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New A', new_a_path %>

<br>
<br>


<table>
  <thead>
    <tr>
      <th>id</th>
      <th>a1_id</th>
      <th>a2_id</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bs.each do |b| %>
      <tr>
        <td><%= b.id %></td>
        <td><%= b.a1_id %></td>
        <td><%= b.a2_id %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>